#app {
  .button {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    color: $colorText;
    @include sizeByGridHor(padding-left, 4);
    @include sizeByGridHor(padding-right, 4);
    letter-spacing: 1px;
    @include box-sizing;
    cursor: pointer;
    @include transition;
    text-transform: uppercase;
    border-radius: 19px;
    line-height: 34px;
    height: 38px;
    border: 2px solid $colorText;

    @media all and (min-width: $showRightImage) {
      border: 3px solid $colorText;
      border-radius: 25px;
      line-height: 46px;
      height: 50px;
      letter-spacing: 5px;
    }

    &:hover {
      background: $colorText;
      color: $colorMain;
      box-shadow: 0 13px 29px 0 rgba(0, 0, 0, 0.15);
    }
    &_min {
      @include sizeByGridHor(padding-left, 2);
      @include sizeByGridHor(padding-right, 2);
    }
    &.done {
      cursor: default;
      &:hover {
        background: none;
        color: $colorText;
      }
    }
    &.disabled {
      @include opacity(0.4);
      cursor: default;
      pointer-events: none;
      &:hover {
        background: none;
        color: $colorText;
      }
    }
    &_right {
      position: relative;
      @include sizeByGridHor(padding-right, 6);
      &:after,
      &:before {
        position: absolute;
        width: 14px;
        height: 28px;
        display: block;
        content: "";
        @include background-image(path-5);
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        right: 20px;
        z-index: 1;
        @include transition;
        @include transform(translateY(-50%) scale(0));
      }
      &:before {
        @include background-image(path-0);
        z-index: 2;
        @include transform(translateY(-50%) scale(1));
      }

      &:hover {
        &:after {
          @include transform(translateY(-50%) scale(1));
        }
        &:before {
          @include transform(translateY(-50%) scale(0));
        }
      }
    }
  } //button
} //app
